*.csv
.idea
.gitignore
data
jpg
result
venv
*.h5
*.json
*.tsv
*.dill
learn
.ipynb_checkpoints
.Rproj.user
.RData
.Rhistory
test.py
test.spec
build
*.mp4
Raw*
# 忽略任何层级下的 data、save、result 文件夹及其内容
**/*data*/
**/*save*/
**/*result*/
# 忽略任何层级下的文件名包含__pycache__ 的文件
**/**__pycache__