----------------------CPU---------------------------------------
python==3.9,
en_core_web_lg==3.7.1,
dgl==2.0.0,
matplotlib==3.7.2,
networkx==2.8.4,
numpy==1.23.5,
pandas==2.0.3,
scikit-learn==1.2.2,
scipy==1.10.1,
spacy==3.7.5,
torch==2.2.0,
torch-cluster==1.6.3+cpu,
torch-geometric==2.5.3,
torch-scatter==2.1.2,
torch-sparse==0.6.18,
torch-spline-conv==1.2.2,
tqdm==4.66.5,



# how to install en_core_web_lg
- pip install spacy
- python -m spacy download en_core_web_lg
- verify installation.
	import spacy
	nlp = spacy.load("en_core_web_lg")
	print("Model loaded successfully!")
- report installation errors
	check and update spacy. pip install --upgrade spacy
	update denpendencies. pip install --upgrade pydantic; pip install --upgrade setuptools wheel
	creat virtual env for incompatible version. conda create -n spacy_env python=3.10; conda activate spacy_env

# file path error: can't import or find another python file-folder in the same project.
- The impact of folder path levels: rebuild a Python project containing only Python code and datasets for improved organization and simplicity.